@import 'utilities/scrollbar';
@import "~bootswatch/cerulean/variables";

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: 0;
  padding-top: $navbar-height;
  position: fixed;
  width: 100%;
}

.content-container-body {
  display: flex;
  flex-direction: horizontal;
  flex-grow: 1;
  height: 100%;
}
