extends layout.pug

block content
  div#preact
  .hidden
    div#ytplayer
    iframe#scplayer(src='https://w.soundcloud.com/player/?url=http://api.soundcloud.com/users/12574060')

block scripts
  script(src='https://w.soundcloud.com/player/api.js', type='text/javascript')
  script(src='/static/js/bundle.js', type='text/javascript')
  script(src='https://www.youtube.com/iframe_api', type='text/javascript')

block stylesheets
  link(id='theme' href='', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css', rel='stylesheet')
  link(href='/static/css/main.css', rel='stylesheet')
