extends layout.pug

block content
  div.offscreen#ytplayer
  iframe.offscreen#scplayer(src='https://w.soundcloud.com/player/?url=http://api.soundcloud.com/users/12574060')
  div#react

block scripts
  script.
    let env = !{JSON.stringify(env).replace(/<\//g, "<\\/")}
  script(src='https://w.soundcloud.com/player/api.js', type='text/javascript')
  script(src='https://apis.google.com/js/client.js')
  script(src='/static/js/bundle.js', type='text/javascript')
  script(src='https://www.youtube.com/iframe_api', type='text/javascript')

block stylesheets
  style(type="text/css").
    .offscreen {
      margin-left: -9999px;
      position: absolute;
    }
  link(id='theme' href='', rel='stylesheet')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
