{% extends 'base/main_base.html' %}

{% block title %}Music{% endblock %}

{% block content %}
<div id="wrapper">
  <div id='sidebar'>
  </div>
  <div id='content'>
  </div>
</div>
<div id='bottom_bar'>
  <input type="text" id="scrub_bar" data-slider-value="0" data-slider-id="scrub_bar_slider" value="" data-slider-max="100" data-slider-step="0.1" data-slider-tooltip="hide" />
  <div id="current_info">&nbsp;</div>
  <div class="controls">
    <i id="repeat" class="fa fa-retweet fa-3x blue"></i> <!-- Possible: fa-refresh -->
    <span id="repeat_badge" class="badge hidden">1</span>
    <i id="prev" class="fa fa-fast-backward fa-3x"></i>
    <i id="playpause" class="fa fa-play fa-3x"></i>
    <i id="next" class="fa fa-fast-forward fa-3x"></i>
    <i id="shuffle" class="fa fa-random fa-3x"></i>
  </div>
</div>
<audio id='current_track'></audio>
<audio id='fade_track'></audio>
{% raw %}
<script type="text/swig" id='sidebar_template'>
  <h3>{{title}}</h3>
  <ul class="nav">
    <li><a href="#">Dashboard</a></li>
    <li><a href="#">Shortcuts</a></li>
    <li><a href="#">Overview</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</script>
<script type='text/swig' id='song_template'>
  <h1>Music</h1>
  <table class='table song_table'>
    <thead>
      <th class='title_th'>Title</th>
      <th class='artist_th'>Artist</th>
      <th class='album_th'>Album</th>
    </thead>
    <tbody class='song_body'>
    {% for song in songs %}
      <tr id="{{song._id}}">
        <td>
          {% if song.no_cover %}
            <i class='fa fa-question unkown_cover'></i>
          {% else %}
            <img class='cover' src='/cover/{{song._id}}'/>
          {% endif %}
          {{song.title}}
        </td>
        <td>{{song.artist}}</td>
        <td>{{song.album}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</script>
<script type="text/swig" id="current_info_template">
  {% if no_cover %}
    <i class='fa fa-question info_unknown_cover'></i>
  {% else %}
    <img class='info_cover' src='/cover/{{_id}}'/>
  {% endif %}
  <p class="info_title">{{title}}</p>
  <p class="info_detail">{{artist}} - {{album}}</p>
</script>
{% endraw %}

{% endblock %}
{% block scripts %}
<script type="text/javascript">
  head.js(
    "/static/js/libs/underscore-min.js",
    "/static/js/libs/backbone-min.js",
    "/static/js/libs/backbone.marionette.min.js",
    "/static/js/libs/bootstrap-slider.js",
    "/static/js/libs/socket.io.min.js",
    "/static/js/libs/swig.min.js",
    "/static/js/libs/tablesort.min.js",
    "/static/js/home.js"
    );
</script>
{% endblock %}