doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Simple web based music player, totally free and open source')
    meta(name='author', content='Benjamin Kaiser')
    meta(name='theme-color', content='#54b4eb')
    link(rel="shortcut icon" href="/static/assets/favicon.png")
    link(rel="manifest" href="/static/assets/manifest.json")

    title Stretto - Web Music Player
    block meta
    block stylesheets

    if env.GOOGLE_ANALYTICS_ID
      script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-40538046-4")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '!{env.GOOGLE_ANALYTICS_ID}');
  body
    block content
    block scripts
