body, html{
}
body{
  padding-top: 32px;
}
#wrapper:focus{
  outline: 0;
}
#content{
  margin-left: 200px;
  padding: 20px;
  padding-bottom: 60px;
}
#sidebar{
  margin-top: 10px;
  padding-bottom: 60px;
  width: 200px;
  height: 100%;
  position: fixed;
  left: 0;
  box-shadow: 0 0 20px #ccc;
}
.sidebar_controls{
  bottom: 120px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#sidebar h3{
  padding-left: 10px;
}
#bottom_bar{
  position: fixed;
  bottom: 0;
  height: 61px;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 30px #ccc;
  padding-top: 2px;
}
#bottom_bar:focus{
  outline: 0;
}
.duration{
  position: fixed;
  right: 0;
  bottom: 48px;
  display: none;
}
#bottom_bar:hover .duration{
  display: block;
  background-color: #4BF;
  z-index: 2;
  padding: 2px;
  padding-left: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
}
.current_time{
  position: fixed;
  left: 0;
  bottom: 48px;
  display: none;
}
#bottom_bar:hover .current_time{
  display: block;
  background-color: #4BF;
  z-index: 2;
  padding: 2px;
  padding-right: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
}
.disable_selection{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.song_table{
  table-layout: fixed;
}
.song_table tbody > tr > td{
  padding: 0 !important;
  line-height: 40px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
.song_table tbody > tr > td .unkown_cover {
  vertical-align: top;
}
tr:hover{
  background-color: #eeeeee;
}
.light-blue:hover{
  background-color: #DDEEFF;
}
tr:hover .options{
  display: inline-block;
}
.options{
  display: none;
}
.option_div{
  float: right;
  vertical-align: middle;
  margin-right: 10px;
}
.options:hover{
  color: #4BF;
}
.cover{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.unkown_cover{
  font-size: 40px;
  margin-right: 18px;
  margin-left: 8px;
}
.controls{
  float: left;
  width: 323px;
  height: 100%;
  margin: 0;
  margin-left: -161px;
  padding: 0;
}
.controls .fa{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 100%;
}
.controls .fa:hover{
  background-color: #ddd;
}
#repeat_badge{
  position: absolute;
  margin-left: -25px;
  margin-top: 5px;
  background-color: #4BF;
}
#scrub_bar_slider{
  width: 100%;
  position: fixed;
  bottom: 48px;
  left: 0px;
}
/*** slider changes ***/
.slider.slider-horizontal .slider-track{
  height: 5px;
  background: #ccc;
}
.slider-selection{
  background: #4BF;
}
.slider.slider-horizontal .slider-handle{
  opacity: 1;
  margin-top: -7px;
  background: #4BF;
}
/*** info ***/
#current_info{
  float: left;
  width: 50%;
  text-align: left;
}
.info_cover{
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.info_unknown_cover{
  float: left;
  font-size: 60px;
  margin-right: 10px;
}
.info_title{
  margin-bottom: 0;
  font-size: 22px;
  font-weight: lighter;
}
.info_detail{
  font-size: 15px;
  color: #666;
}
/*** options dialog ***/
.options_container{
  position: fixed;
}
/*** color definitions ***/
.blue{
  color: #4BF;
}
.light-blue{
  background-color: #DDEEFF;
}