.controls{
  float: none;
  width: 323px;
  height: 100%;
  margin: 0 auto;
}
#sidebar{
  clear: both;
  margin-top: 0;
  width: 100%;
  height: calc(40% - 60px);
  position: relative;
  padding-bottom: 10px;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
#content{
  height: calc(60% - 60px);
  margin-top: 0;
  margin-left: 0;
  padding: 10px;
}
.sidebar_controls{
  position: relative;
  text-align: left;
}
#sidebar_height_wrapper{
  height: calc(100% - 28px);
}
#sidebar_height_wrapper > ul{
  height: calc(100% - 60px);
  overflow-y: auto;
}
#wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  outline: 0;
}
#current_info{
  float: none;
  width: 100%;
  overflow: none;
  height: 60px
}