<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>{% block title %}Desktop Command Remote{% endblock %}</title>

  <script type="text/javascript" src="/static/js/libs/head.load.min.js"></script>

  <script type="text/javascript">
  head.load(
    "/static/css/lib/bootstrap.min.css",
    "/static/css/lib/font-awesome.min.css",
    "/static/css/lib/slider.css",
    "/static/css/main.css"
    );
  </script>
  {% block head %}
  {% endblock %}
</head>
<body>
  {% if menu %}
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a class="navbar-brand" href="/">Node Music Player</a>
    <ul class="nav navbar-nav">
      <li><a href="/">Music</a></li>
      <li><a href="/scan">Scan Library</a></li>
    </ul>
  </nav>
  {% endif %}
  {% block content %}
  {% endblock %}
  <script type="text/javascript">
    head.js(
      "/static/js/libs/jquery.min.js",
      "/static/js/libs/bootstrap.min.js"
      );
  </script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
