@import '../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css';

.addPlaylist {
  float: right;
  padding: 4px;
  opacity: 0;
  transition: opacity 300ms ease 100ms;
}
.nav:hover .addPlaylist {
  opacity: 1;
}

.alerter-alert {
  max-width: 300px;
  width: 300px;
}

.artistImage {
  transition: 0.4s filter ease;
  max-width: 100%;
  max-height: 400px;
  border-radius: 20px;
  margin-bottom: 30px;
  filter: brightness(0.8);

  &:hover {
    filter: brightness(0.6);
  }
}

.followingArtist {
  filter: brightness(0.6);
}

.artistText {
  text-align: center;
    position: absolute;
    top: 40%;
    width: 90%;
    height: 100px;
    color: white;
    font-size: 33px;
    pointer-events: none;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cancelButton {
  margin-right: 10px;
}

.chartInnerContainer {
  display: flex;

  img {
    width: 50px;
    height: 50px;
  }

  .chartInformation {
    padding-left: 15px;
    overflow: hidden;

    p,h4 {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .chartExtraInfo {
    margin-left: auto;
  }
}

.content {
  height: 100%;
  overflow: auto;
  padding: 20px;
  width: 100%;

  div:first-child h1 {
    margin-top: 0;
  }
}

.control-badge {
  position: absolute;
  right: -11px;
  top: -6px;
}

.control-buttons {
  display: flex;
  justify-content: space-around;

  > div {
    position: relative;
  }
}

.cover {
  object-fit: cover;
  float: left;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  flex-shrink: 0;
}

.displayFlex {
  display: flex;
}

.dropdownContainer {
  position: absolute;

  .dropdown-menu.open {
    clear: left;
    display: block;
    position: static;
    max-height: 400px;
    max-width: 250px;
    overflow-y: scroll;
    overflow-x: hidden;

    li > a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

#dropdown-import-sidebar {
  float:right;
  font-size: 17px;
  height: 30px;
  padding: 0;
  width: 30px;
  text-decoration: none !important;
}

.dropdown-sidebar-menu {
  left: -180px !important;
  right: auto !important;
}

.duration-slider {
  text-align: center;
  margin-bottom: 14px;
}

input[type="checkbox"].explicitCheckbox,
input[type="checkbox"].playInLibraryCheckbox {
  margin-right: 10px;
}

.genreDropdown {
  float: right;
}

.image-preview {
  object-fit: cover;
  height: 250px;
  width: 250px;
}

.intro {
  height: 100%;
}

.introPanelTitle {
  .fa {
    font-size: 40px
  }

  .titleSpan {
    font-size: 30px;
    margin-left: 15px;
    vertical-align: text-bottom;
  }
}

.hidden {
  #player {
    margin-right: 500px;
  }
}

.jumbotron {
  padding-left: 60px;
  padding-right: 60px;
}

.logo {
  margin-left: 14px;
  font-size: 28px;
}

@font-face {
  font-family: WisdomScript;
  src: url('/static/assets/wisdom.otf') format("opentype");
}

.logoText {
  font-family: WisdomScript;
  text-decoration: none;
  font-weight: 300;

  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.airplane-label {
  margin-left: 8px;
  animation: fadein 0.3s;
}

.lyric-label {
  margin-left: 8px;
  margin-top: -1px;
  animation: fadein 1s;
}

.media, .media-body {
  overflow: visible;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

.paginate {
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.playerinfo.noSong {
  height: 0px;
}

.playerinfo {
  overflow: hidden;
  padding: 14px;
  text-align: center;
  height: 331px;
  width: 280px;
  transition: height 0.5s ease;

  &.hidePlayer {
    height: 101px
  }

  .cover {
    height: 250px;
    margin-right: 0;
    width: 250px;
  }

  .cover:hover + .hide-button {
    visibility: visible;
  }

  .cover + .hide-button:hover {
    visibility: visible;
  }

  .cover-wrapper {
    position: relative;
  }

  .hide-button {
    left: calc(50% - 15px);
    position: absolute;
    top: 210px;
    visibility: hidden;
  }

  .info {
    margin-bottom: 5px;

    p {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .title {
      font-size: 20px;
    }
  }

  .show-button {
    margin-bottom: -11px;
    margin-top: -17px;
  }
}

.playlist_header {
  align-items: flex-start;
  display: flex;

  .btn-group {
    margin: 0 15px;
  }

  .buttons {
    margin: 0 15px;

    .btn:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.preview-thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.remote-control-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 180px;
  margin: 60px auto;

  > div {
    position: relative;
  }
}

.root {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
}

.searchBox {
  max-width: 235px;
}

.searchContainer {
  margin: 15px;
}

.searchable:hover {
  text-decoration: underline;
}

.sidebar {
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 280px;
  max-width: 280px;
}

.sidebar-bottom {
  padding-top: 5px;
}

.sidebar-icon {
  float: right;
  font-size: 17px;
  margin-right: 14px;
  margin-top: 5px;
  padding: 0;
  line-height: 1;
  border: none;
  outline: none !important;
}

.sidebar-top {
  margin-bottom: auto;
  overflow: auto;


  .nav-pills > li > a {
    border-radius: 0;
  }

  .nav-pills > .dropdown-header {
    padding-left: 14px;
  }
}

.song-table {
  margin-bottom: 0;
  table-layout: fixed;
  user-select: none;
  overflow-anchor: none;

  thead > tr {
    :first-child {
      width: 35%;
    }

    :last-child {
      width: 15%;
    }

    > th {
      padding-left: 0;
      cursor: pointer;

      > i {
        margin-left: 5px;
      }
    }
  }

  tbody > tr {
    &:not(.spacer) {
      min-height: 40px;
      max-height: 40px;
      height: 40px;
    }

    > td {
      line-height: 40px;
      overflow: hidden;
      padding: 0;
      padding-right: 15px;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      border-top: none;
    }
  }
}

tbody > tr {
  transition: box-shadow 200ms linear;

  &:hover {
    box-shadow: 0 0 30px -5px #aaa;
  }
}

.sortableElement {
  background-color: #eee;
  td {
    line-height: 40px;
    overflow: hidden;
    padding: 0;
    padding-right: 15px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.tab-padding {
  padding: 10px;
}

.titleItemColumn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleItemText {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visibleModal {
  display: block;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

@media(max-width: 700px) {
  .player_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .playerCover {
      object-fit: cover;
      width: 90vw;
      height: 90vw;
      padding: 5vw;
      flex-shrink: 0;
    }

    .info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .title {
        font-size: 24px;
      }

      .artist,.album {
        font-size: 16px;
      }
    }

    .controls {
      width: 100%;

      .control-buttons {
        margin-top: 30px;
      }

      .duration-slider {
        margin-top: 10px;
      }

      .slider.slider-horizontal {
        width: 80vw;
      }
    }
  }

  .paginate {
    bottom: 150px;
    left: calc(50vw - 45px);
  }

  .mobileFooter {
    position: fixed;
    bottom: 0;
    width: 100vw;
    border: 0;
    border-radius: 0;
    transition: bottom 0.8s ease;

    &.footerHidden {
      bottom: -200px
    }
  }

  .mobilePlayerControls {
    margin-bottom: 10px;
  }

  .intro {
    height: auto;
  }

  .duration-slider {
    margin-top: -11px;
  }

  .slider.slider-horizontal {
    width: 100vw;
  }

  .root {
    display: block;
  }

  .content {
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 140px;
    bottom: 0;
  }

  .content.fullbleed {
    padding-bottom: 10px;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .search_header {
    h1 {
      display: none;
    }

    .buttons {
      margin: 0;
      margin-bottom: 10px;
      width: 100%;
    }

    .searchContainer {
      margin: 0;
      margin-bottom: 10px;
    }

    .searchBox {
      max-width: none;
    }
  }

  .song-table {
    width: auto;

    .titleItemColumn {
      min-width: 100vw;
      max-width: 100vw;
    }

    thead > tr {
      :first-child {
        min-width: 100vw;
        max-width: 100vw;
      }

      :last-child {
        max-width: 50vw;
      }
    }
  }

  .playerinfo {
    overflow: hidden;
    padding: 0px 0px 5px 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;

    .cover {
      height: 50px;
      margin-right: 5px;
      margin-left: 10px;
      width: 50px;
    }

    .info {
      margin-left: 5px;
      margin-right: 10px;
      flex-grow: 1;
      overflow: hidden;

      p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .title {
        font-size: 20px;
      }
    }
  }
}

.sync-info {
  margin-bottom: 6px;
}

.unfollowClose {
  position: absolute;
  top: 10px;
  right: 30px;
  color: white;
  opacity: 0;
  transition: opacity 300ms ease;
}

.panel-cta {
  margin-top: 16px;
}

.equalPanelRow {
  display: flex;
}

.equalPanel {
  height: 100%;
  display: flex;
  flex-direction: column;

  .panel-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .panel-body-text {
    flex-grow: 1;
  }
}

.artistTile:hover .unfollowClose {
  opacity: 1;
}

.artistsBody {
  margin-top: 15px;
}

.mt-0 {
  margin-top: 0;
}