body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cancelButton {
  margin-right: 10px;
}

.content {
  height: 100%;
  overflow: auto;
  padding: 20px;
  width: 100%;

  div:first-child h1 {
    margin-top: 0;
  }
}

.control-badge {
  position: absolute;
  right: -11px;
  top: -6px;
}

.control-buttons {
  display: flex;
  justify-content: space-around;

  > div {
    position: relative;
  }
}

.cover {
  background-position: center center;
  background-size: cover;
  float: left;
  height: 40px;
  margin-right: 10px;
  width: 40px;
  flex-shrink: 0;
}

.dropdownContainer {
  position: absolute;

  .dropdown-menu.open {
    clear: left;
    display: block;
    position: static;
    max-height: 400px;
    overflow-y: scroll;
  }
}

.duration-slider {
  text-align: center;
  margin-bottom: 14px;
}

.image-preview {
  background-position: center center;
  background-size: cover;
  height: 250px;
  width: 250px;
}

.intro {
  height: 100%;
}

.hidden {
  #player {
    margin-right: 500px;
  }
}

.logo {
  margin-left: 14px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.lyric-label {
  margin-top: -1px;
  animation: fadein 1s;
}

.media, .media-body {
  overflow: visible;
}

.playerinfo {
  overflow: hidden;
  padding: 14px;
  text-align: center;
  width: 280px;

  .cover {
    height: 250px;
    margin-right: 0;
    width: 250px;
  }

  .cover:hover + .hide-button {
    visibility: visible;
  }

  .cover + .hide-button:hover {
    visibility: visible;
  }

  .cover-wrapper {
    position: relative;
  }

  .hide-button {
    left: calc(50% - 15px);
    position: absolute;
    top: 210px;
    visibility: hidden;
  }

  .info {
    margin-bottom: 5px;

    p {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .title {
      font-size: 20px;
    }
  }

  .show-button {
    margin-bottom: -11px;
    margin-top: -17px;
  }
}

.playlist_header {
  align-items: flex-start;
  display: flex;

  .btn-group {
    margin: 0 15px;
  }

  .buttons {
    margin: 0 15px;

    .btn:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.preview-thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.remote-control-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 180px;
  margin: 60px auto;

  > div {
    position: relative;
  }
}

.root {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: 100%;
  width: 100%;
}

.searchBox {
  max-width: 235px;
}

.searchContainer {
  margin: 15px;
}

.searchable:hover {
  text-decoration: underline;
}

.sidebar {
  box-shadow: 0 0 10px #ccc;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 280px;
  max-width: 280px;
}

.sidebar-bottom {
  padding-top: 5px;
}

.sidebar-icon {
  float: right;
  font-size: 17px;
  margin-right: 14px;
}

.sidebar-top {
  margin-bottom: auto;
  overflow: auto;


  .nav-pills > li > a {
    border-radius: 0;
  }

  .nav-pills > .dropdown-header {
    padding-left: 14px;
  }
}

.song-table {
  margin-bottom: 0;
  table-layout: fixed;
  user-select: none;

  thead > tr {
    :first-child {
      width: 35%;
    }

    :last-child {
      width: 15%;
    }

    > th {
      padding-left: 0;
      cursor: pointer;

      > i {
        margin-left: 5px;
      }
    }
  }

  tbody > tr {
    &:not(.spacer) {
      height: 40px;
    }

    > td {
      line-height: 40px;
      overflow: hidden;
      padding: 0;
      padding-right: 15px;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      border-top: none;
    }
  }
}

tbody > tr {
  transition: all 200ms linear;

  &:hover {
    box-shadow: 0 0 30px -5px #aaa;
  }
}

.sortableElement {
  background-color: #eee;
  td {
    line-height: 40px;
    overflow: hidden;
    padding: 0;
    padding-right: 15px;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }
}

.tab-padding {
  padding: 10px;
}

.titleItemColumn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.titleItemText {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visibleModal {
  display: block;
}
